body {
    font-family: sans-serif;
    margin: 2.5rem auto;
    max-width: 30rem;
    line-height: 1.6;
    font-size: 1.2rem;
    color: #445;
    background: #eef;
    padding: 0 1rem;
}

ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

li {
    flex-shrink: 0;
}

h1, h2, h3 {
    line-height: 1.2;
}

a {
    color: #154;
}

hr {
    visibility: hidden;
    margin: 2.3rem;
}

