body {
    font-family: sans-serif;
    margin: 2.5rem auto;
    max-width: 35rem;
    line-height: 1.6;
    font-size: 1.2rem;
    color: #445;
    background: #eee;
    padding: 0 1rem;
}

pre {
    margin: 2rem 0;
    padding: 1rem 1.8rem;
    background: #ced;
    color: #020;
    border-color: #395;
    border-radius: 0 0.4rem 0.4rem 0;
    border-width: 0.2rem;
    border-left-style: solid;
    overflow: scroll;
    font-size: 1rem;
}

a {
    color: #154;
}

h1, h2, h3 {
    margin-top: 3.5rem;
    line-height: 1.2;
}

ul:before {
    content: "\276D";
    color: #154;
    position: absolute;
    left: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    padding-left: 2.6rem;
    list-style-type: none;
    position: relative;
}

li {
    flex-shrink: 0;
}

hr {
    visibility: hidden;
    margin: 2.3rem;
}

